AddHandler cgi-script .rb

Options +FollowSymLinks +ExecCGI -Indexes

AddType application/x-pem-file .pem
AddType application/x-x509-ca-cert          .crt .der .cer

#DirectoryIndex 

#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /etc/apache2/passwd_vnc
#Require valid-user
