# Remember to enable cgi execution globally to the whole server or else the next lines won't do a thing.
AddHandler cgi-script .rb .cgi

Options +FollowSymLinks +ExecCGI -Indexes

AddType application/x-pem-file .pem
AddType application/x-x509-ca-cert          .crt .der .cer

#DirectoryIndex 

#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /etc/apache2/passwd_vnc
#Require valid-user
